@model CVProje2.Models.entity.TblProjeler
@{
    ViewBag.Title = "ProjeGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h4 style="margin-left: 10px; margin-top: 10px; margin-bottom: 30px">Proje Bilgisi Güncelleme Sayfası</h4>
<br />
<br />
<div class="container-fluid">
    <form method="post">
        @Html.Label("Proje ID")
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        <br />
        @Html.Label("Resim")
        @Html.TextBoxFor(x => x.Resim, new { @class = "form-control" })
        <br />
        @Html.Label("Kategori")
        @Html.TextBoxFor(x => x.Kategori, new { @class = "form-control" })
        <br />
        @Html.Label("Bağlantı")
        @Html.TextBoxFor(x => x.Bağlantı, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-warning">Güncelle</button>
    </form>
</div>

