@model CVProje2.Models.entity.TblAnasayfa
@{
    ViewBag.Title = "AnasayfaGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h4 style="margin-left: 10px; margin-top: 10px; margin-bottom: 30px" ">Anasayfa Güncelleme Sayfası</h4>
<br />
<br />
<div class="container-fluid">
    <form method="post">
        @Html.Label("Anasayfa ID")
        @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
        <br />
        @Html.Label("Ad")
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        <br />
        @Html.Label("Soyad")
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        <br />
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextBoxFor(x => x.Aciklama, new { @class = "form-control" })
        <br />
        @Html.Label("Resim")
        @Html.TextAreaFor(x => x.Resim, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-secondary" style="margin-left: 5px">Güncelle</button>
    </form>
</div>

