@model CVProje2.Models.entity.TblEğitimDeneyim
@{
    ViewBag.Title = "EgitimEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

<h4 style="margin-left: 10px; margin-top: 10px; margin-bottom: 30px">Yeni Eğitim Bilgisi Ekleme Sayfası</h4>
<br />
<br />
<div class="container-fluid">
    <form method="post">
        @Html.Label("Başlık")
        @Html.TextBoxFor(x => x.EBaslik, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.EBaslik, "")
        <br />
        @Html.Label("Okula Başlama - Bitiş Tarihi")
        @Html.TextBoxFor(x => x.ETarih, new { @class = "form-control" })
        <br />
        @Html.Label("Genel Not Ortalaması (GNO)")
        @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
        <br />
        @Html.Label("Açıklama")
        @Html.TextAreaFor(x => x.EAciklama, new { @class = "form-control" })
        <br />
        <button class="btn btn-outline-dark">Güncelle</button>
    </form>
</div>

